<ion-header>
  <ion-toolbar class="bg-color">
      <ion-buttons slot="start">
          <ion-back-button class="white"></ion-back-button>
        </ion-buttons>
    <ion-title>wishlist</ion-title>
    

  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- <ng-container *ngFor="let item of products; index as index">
  <ion-card  >
    
    <ion-item slot="start" class="tt" lines="none" no-padding >
      <ion-thumbnail slot="start" style="width:35%;height: 0%;margin:0">
        <img [src]="item.img">
      </ion-thumbnail>
      <div style="padding-left: 10px;height: 100%;display: grid;width:100%">

        <ion-card-subtitle style="text-align: left;margin:0;display: flex; align-items: center">
          <h5 style="text-align: left;margin:0">Avatar Start, Button Item</h5>
        
        </ion-card-subtitle>
        <ion-row>
          <ion-col style="margin-bottom: -20%;">
            <p >
              <label>$ {{item.price}}</label>
            </p>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3"  style="display: flex;
          align-self: flex-end; font-size: 15pt;justify-content: space-around;">
           

            <ion-button color="primary" size="small" fill="clear" (click)="wishlist(item.id)">
                <ion-icon name="trash"  style="color:red"></ion-icon>
            </ion-button>

          </ion-col>
        
          <ion-col size="9" style="align-self: flex-end;display :flex;font-size:18pt;justify-content: space-around;">
             
              <ion-button color="tertiary"  size="small" (click)="addToCart(item)">Add To cart</ion-button>
          </ion-col>
        </ion-row>

      </div>
    </ion-item>
  
  </ion-card>
</ng-container> -->

<ion-card *ngFor="let item of products; index as index">
  <ion-item lines="none"  slot="start" class="tt" no-padding>
    <ion-thumbnail slot="start" style="width:30%;height: 0%;margin:0">
      <img [src]="item.img">
    </ion-thumbnail>
    <div style="padding-left: 10px;height: 100%;display: grid;width:100%">

      <ion-card-subtitle style="text-align: left;margin:0;display: flex; align-items: center">
        <h5 style="text-align: left;margin:0;margin-bottom: -28%;">Avatar Start, Button Item</h5>
      
      </ion-card-subtitle>
      <ion-row>
        <ion-col style="display: flex;  align-self: flex-end;margin-bottom: -28%;">
          <p >
            <label>$ {{item.price}}</label>
            <label style="margin-left: 15px;">in stock</label>
          </p>

        </ion-col>
      </ion-row>
      <ion-row style=" margin-top: 48px;">
        <ion-col style="display: flex;
        align-self: flex-end;">


        </ion-col>
        <ion-col size="5" style="align-self: flex-end;display :flex;font-size:18pt;justify-content: flex-end;padding-right: 0;">
            <!-- <ion-icon name="heart" style="color:rgb(106, 112, 108)" (click)="wishlist(item,index)" [ngClass]="{wish: item.wish}"></ion-icon> -->
            <!-- <ion-icon name="trash" (click)="indexFinding(index)" style="color:red"></ion-icon> -->
        </ion-col>
      </ion-row>

    </div>
  </ion-item>
  

<div style="     width: 100%;
padding-top: 10px;
text-align: center;
position: absolute;
z-index: 99;

color: white;
font-weight: bold;

font-size: 18pt;

text-align: right;
padding-right: 10px;
bottom: 0;
padding-bottom: 10px"><ion-icon name="trash" style="color:red" (click)="wishlist(item.id)"  ></ion-icon></div>

<div style="     width: 100%;
padding-top: 10px;
text-align: center;
position: absolute;
z-index: 99;

color: white;
font-weight: bold;

font-size: 18pt;

text-align: right;
padding-right: 35px;
bottom: 0;
padding-bottom: 10px"><ion-icon name="cart" style="color:orange" (click)="addToCart(item)"  ></ion-icon></div>
</ion-card>

<ng-container *ngIf="products.length == 0">
  <h5>Nothing in Wishlist</h5>
</ng-container>
</ion-content>
