.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    
    font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green !important;
}
.checkout-btn{
    --color:#de6161;
    --border-color: #de6161;
    width:100%;
    --color-activated: #de6161;
}
.add-cart{
    background-color:#de6161;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}