<ion-header>
  <ion-toolbar class="bg-color" >
    <ion-buttons slot="start">
      <ion-menu-button class="white"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!searchInput" >Home </ion-title>
    <ion-buttons slot="end">
      <app-cart-at-header [cartCount]="cartBadge"></app-cart-at-header>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-skeleton-text animated *ngIf="skeletonText"></ion-skeleton-text>
  <ion-slides pager="false" [options]="slideOpts" *ngIf="!skeletonText">
    <ion-slide *ngFor="let item of slide">
      <img [src]="item.image" >
      <div class="myOverlay">
        <h3>Sale Sale !</h3>
        <h4>50% OFF </h4>
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-row style="padding-top:10px; padding-right: 10px;">
    <ion-col style="padding-left: 10px !important;padding-right: 0 !important;padding-top:0 !important" sizeLg="4" sizeMd="4" sizeXs="6"  *ngFor="let product of products;index as index" >
      <ion-card >
        <img [src]="product.img" style="height: 185px !important" (click)="goToProductDetailPage(product.id)" />
        <div style=" width: 100%;
        padding-top: 5%;
        text-align: center;
        position: absolute;
        z-index: 99;
        /* bottom: 31%; */
        opacity: 0.5;
        top: 0px;
        color: white;
        font-weight: bold;
        /* background-color: #dc0000; */
        left: 40%;
        font-size:20px;
        "><ion-icon name="heart" style="color:rgb(106, 112, 108)" (click)="wishlist(product.id)" [ngClass]="{wish: product.wish}"></ion-icon></div>
        <ion-card-header style="padding-top: 0px;padding-bottom: 0;">
          <ion-card-title><h6 (click)="goToProductDetailPage(product.id)" style="margin-bottom: -10px;">Full Sleeve Solid Women Jacket</h6></ion-card-title>
          <ion-card-subtitle >
              <ion-row >
                  <ion-col size="4" style="padding-left: 0 !important;"> 
                   
                      <ion-badge color="success">4 <ion-icon name="star"></ion-icon></ion-badge>

                     
                   </ion-col>
                   <ion-col size="8" style="text-align:right">
                    <label style="color:black"><s style="color:grey">$ 28</s> $ {{product.price}}</label>
                    </ion-col>
              </ion-row>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-button expand="full" color="dark" style="margin:0" (click)="addToCart(product)">Add to Cart
        </ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
<!-- <app-side-nav></app-side-nav> -->

